/* =======================
   GLOBAL (ESTILOS GERAIS)
   ======================= */

/* Estilos base da página */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Títulos principais */
h2 {
    color: #FFFFFF;
}

/* Labels */
label{
    color: white;
}

/* Botões em toda a aplicação */
button {
    padding: 9px 14px;
    margin-top: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Efeito hover dos botões */
button:hover {
    opacity: 0.85;
}

/* Tabelas globais */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

/* Células da tabela */
th,
td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
    color: white;
}

/* Cabeçalho da tabela */
th {
    background-color: #eeeeee;
    color: #444444;
}

/* Formulários globais */
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

/* Inputs e selects */
input,
select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* =======================
   UTILITÁRIOS (CLASSES REUTILIZÁVEIS)
   ======================= */

/* Espaçamento para grupo de botões */
.botoes {
    margin-top: 10px;
}

/* Destacar texto (ex: nome selecionado) */
.destacado {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilo para mensagens de erro */
.erro {
    background-color: #f8d7da;
    color: #842029;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f5c2c7;
}

/* =======================
   CORES DAS PÁGINAS (BACKGROUND POR SECÇÃO)
   ======================= */

.pagina-utilizadores {
    background-color: #0000FF;
}

.pagina-medicos {
    background-color: #F5276C;
}

.pagina-pacientes {
    background-color: #AB02AB;
}

.pagina-secretarias {
    background-color: #ADAD00;
}

.pagina-consultas {
    background-color: #FF5C5C;
}

.pagina-disponibilidade {
    background-color: #ABC24A;
}