<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Médicos da Clínica</title>

    <!-- Ligação ao ficheiro de estilos CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="pagina-medicos">

<a href="/utilizadores">
    <button type="button">Utilizadores</button>
</a>

<h2>Medicos</h2>
<!-- SECÇÃO: TABELA DE MÉDICOS REGISTADOS -->
<table id="tabelaRegisto">

    <!-- Cabeçalho da tabela -->
    <tr>
        <th>Nome</th>
        <th>Especialidade</th>
    </tr>

    <!-- Iteração sobre a lista de médicos enviada pelo controller -->
    <tr th:each="m : ${medicos}">

        <!-- Nome do médico (vem do utilizador associado) -->
        <td class="nome-registo"
            th:text="${m.utilizador.nome}">
        </td>

        <!-- Especialidade do médico -->
        <td th:text="${m.especialidade}">
        </td>

    </tr>

</table>

<!-- Ligação ao ficheiro JavaScript -->
<script src="/js/script.js"></script>

</body>

</html>