<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pacientes da Clínica</title>

    <!-- Ligação ao ficheiro de estilos CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="pagina-pacientes">
<a href="/utilizadores">
    <button type="button">Utilizadores</button>
</a>
<h2>Pacientes</h2>
<!-- SECÇÃO: TABELA DE PACIENTES REGISTADOS -->
<table id="tabelaRegisto">

    <!-- Cabeçalho da tabela -->
    <tr>
        <th>Nome</th>
        <th>Idade</th>
    </tr>

    <!-- Iteração sobre a lista de pacientes enviada pelo controller -->
    <tr th:each="p : ${pacientes}">

        <!-- Nome do paciente -->
        <td class="nome-registo" th:text="${p.utilizador.nome}"></td>

        <!-- Idade do paciente -->
        <td th:text="${p.idade}"></td>

    </tr>

</table>

<!-- Ligação ao ficheiro JavaScript -->
<script src="/js/script.js"></script>

</body>

</html>