<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secretárias da Clínica</title>

    <!-- Ligação ao ficheiro de estilos CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="pagina-secretarias">
<a href="/utilizadores">
    <button type="button">Utilizadores</button>
</a>
<h2>Secretarias</h2>
<!-- SECÇÃO: TABELA DE SECRETÁRIAS REGISTADAS -->
<table id="tabelaRegisto">

    <!-- Cabeçalho da tabela -->
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
    </tr>

    <!-- Iteração sobre a lista de secretárias enviada pelo controller -->
    <tr th:each="s : ${secretarias}">

        <!-- Nome da secretária (vem do utilizador associado) -->
        <td class="nome-registo"
            th:text="${s.utilizador.nome}">
        </td>

        <!-- Email da secretária -->
        <td th:text="${s.utilizador.email}"></td>

        <!-- Telefone da secretária -->
        <td th:text="${s.utilizador != null ? s.utilizador.telefone : 'N/A'}"></td>

    </tr>

</table>

<!-- Ligação ao ficheiro JavaScript -->
<script src="/js/script.js"></script>

</body>

</html>